<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eBanking">
    <test name="Banking Apps Test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.inetbanking.testCases.TC_LoginTest_001"/>
            <class name="com.inetbanking.testCases.TC_LoginDDT_002"/>
            <class name="com.inetbanking.testCases.TC_AddNewCustomer_003"/>
        </classes>
    </test>
</suite>


